
{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Open sans Google Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

        {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/acc_deletion/invalid/main.scss' %}">
        {% endcompress %}

        <title>Invalid deletion</title>
    </head>
    <body>
        <section class="notice">
            <div class="notice__container">
                <div class="notice__text">
                    <h1>This is an invalid or expired link.</h1>
                    <p>Contact an admin if you believe this is incorrect.</p>
                    <a href="{% url 'home' %}" class="notice__button">
                        Return Home
                    </a>
                </div>
            </div>
        </section>
    </body>
</html>