
{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Open sans Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/sign_up/activated/main.scss' %}">
    {% endcompress %}

    <title>Account activated</title>
</head>
<body>
    <section class="notice">
        <div class="notice__container">
            <a href="{% url 'home' %}">Return Home</a>
            <div class="notice__text">
                <h1>ACCOUNT ACTIVATED!</h1>
                <p>You may proceed to login now, {{ user_name }}.</p>
                <a class="notice__button">
                    CONTINUE
                </a>
            </div>
        </div>
    </section>
</body>
</html>