@use '../base/mixins' as *;

.form
{
    @include default-form();

    & > h1 
    {
        @include default-title();
    }

    &__field-container
    {
        @include default-form-field();
    }

    &__error
    {
        width: 100%;
        margin-top: 0.5rem;
        font-family: "Open Sans", sans-serif;
        text-align: center;
        font-style: italic;
        color: red;

        & li, ul
        {
            text-decoration: none;
            list-style: none;
        }
    }

    & > button
    {
        @include form-submit-button();
    }
}