{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'landing/scss/main.scss' %}">
    {% endcompress %}
    <title>Home</title>
</head>
<body>
    <section class="home">
        <div class="home__wrapper">
            <div class="home__container home__container--login">
                <h3>Welcome back!</h3>
                <p>Reading this message is XP waste.</p>
    
                <input 
                    type="text"
                    placeholder="Email address"
                />
                <input 
                    type="password"
                    placeholder="Password"
                />
    
                <button type="button">
                    LOGIN
                </button>
    
                <p>Don't have an account?</p>
                <p>SIGN UP</p>
            </div>
            <div class="home__container home__container--message">
                <h1>The best login system ever!</h1>
                <p>Look at my horse, my horse is amazing.</p>
            </div>
        </div>
    </section>
</body>
</html>