
{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Open sans Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'successful_registration/scss/main.scss' %}">
    {% endcompress %}

    <title>Successful registration</title>
</head>
<body>
    <section class="success">
        <div class="success__container"> 
            <a href="{% url 'home' %}">Return Home</a>
            <div class="success__subcontainer">
                <h1>SUCCESSFUL REGISTRATION</h1>

                {% if user_name %}
                    <h3>Welcome aboard, {{ user_name }}!</h3>
                {% else %}
                    <h3>Welcome aboard, guest!</h3>
                {% endif %}

                <button class="success__button">
                    CONTINUE
                </button>
            </div>
        </div>
    </section>
</body>
</html>