@use 'assets/scss/global' as *;

.home
{
    @include default-background(135deg);

    &__wrapper
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        border-radius: 1rem;
        box-shadow: 4px 4px 15px $color_transparent_black;

        width: 90%;
        max-width: 70rem;
        height: 70%;
        max-height: 30rem;

        @media (max-width: 850px)
        {
            flex-direction: column;
            width: 90%;
            max-width: none;
            height: 80%;
            max-height: none;
        }
    }

    &__container
    {
        height: 100%;
        width: 100%;

        border-radius: 1rem;
        background-color: $color_white;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0.5rem;

        &--login
        {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            padding-right: 1rem;

            @media (max-width: 850px)
            {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                border-top-right-radius: 1rem;
                padding-right: 0;
                padding-bottom: 1rem;
                margin-bottom: -1rem;

                & p
                {
                    margin-top: 0;
                }
            }
        }

        &--message
        {
            margin-left: -1rem;
            background-color: $color_dark_blue;
            color: $color_white;

            @media (max-width: 850px)
            {
                margin-left: 0;
                z-index: 100;
            }
        }

        & h1, h3 
        {
            font-family: 'Verdana', sans-serif;
            text-align: center;
        }

        & p 
        {
            text-align: center;
        }
    }

    &__login-form
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 1rem;
        max-width: 17rem;
        width: 90%;
        gap: 1rem;

        & a
        {
            text-decoration: none;
            font-size: 0.8rem;
            text-align: right;
            width: 100%;
        }

        & ul, li
        {
            text-align: center;
            list-style-type: none;
            font-size: 0.8rem;
            color: red;
        }

        & input
        {
            width: 100%;
            height: 2.5rem;
            padding-left: 1rem;
            background-color: $color_light_grey;
            border-radius: 0.5rem;
            border: none;

            &::placeholder
            {
                color: $color_dark_grey;
            }
        }
    }

    &__logged-container
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 3rem;
        max-width: 17rem;
        width: 90%;
        gap: 1rem;

        & > a:last-child // Logout
        {
            text-decoration: none;
            font-size: 0.8rem;
            text-align: center;
            width: 100%;
        }
    }

    &__button
    {
        @include do-action-button();
    }

    &__subtitle
    {
        font-size: 0.9rem;
        font-family: "Open Sans", sans-serif;
        margin-top: 0.5rem;
    }

    &__no-acc
    {
        font-size: 0.8rem;
        margin-top: 1rem;
        color: $color_dark_grey;
        font-family: "Open Sans", sans-serif;
    }

    &__sign-up
    {
        font-family: "Open Sans", sans-serif;
        text-decoration: none;
        font-weight: bold;
    }
}