@use './variables' as *;

@mixin default-background($degrees: 135deg)
{
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient($degrees, $color_white, $color_light_blue);

    width: 100vw;
    height: 100vh;
}

@mixin default-container()
{
    display: flex;
    flex-direction: column;
    background-color: $color_white;
    box-shadow: 4px 4px 15px $color_transparent_black;
    border-radius: 1rem;
    padding: 1rem;
    height: 40rem;
    width: 40rem;

    @media screen and (max-width: 43rem) 
    {
        width: 90%;
    }

    @media screen and (max-height: 43rem) 
    {
        height: 90%;
    }
}

@mixin do-action-button() 
{
    cursor: pointer;
    font-size: 1rem;
    background-color: $color_regular_blue;
    transition: 0.3s;
    border-radius: 0.5rem;
    border: none;
    margin-top: 0.5rem;
    height: 2.5rem;
    width: 100%;

    &:hover
    {
        color: $color_white;
        background-color: $color_dark_blue;
    }
}

@mixin default-title()
{
    width: 100%;
    text-align: center;
    font-family: 'Verdana', sans-serif;
    margin-bottom: 1rem;

    @media screen and (max-width: 300px) 
    {
        font-size: 1.2rem;
    }
}

@mixin top-container-anchor()
{
    text-decoration: none;
    text-align: left;
    font-size: 0.8rem;
    width: 100%;
}