{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Open sans Google Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

        {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/dashboard/start/main.scss' %}">
        {% endcompress %}

        <title>Dashboard</title>
    </head>
<body>
    <section class="dashboard">
        <div class="dashboard__container">
            <div class="dashboard__top-nav">
                <a href="{% url 'home' %}">
                    Return Home
                </a>
                <a href="{% url 'home' %}">
                    Delete account
                </a>
            </div>
            <h1 class="dashboard__title">
                Thou art logged in, {{ request.user.username }}.
            </h1>
            
            <div class="stats">
                <div class="stats__container">
                    <p class="stats__text">Account creation:</p>
                    <p class="stats__text">
                        <span>{{ signup_date }}</span> ({{ days_since_signup }})
                    </p>
                </div>
                <div class="stats__container">
                    <p class="stats__text">
                        Last login:
                    </p>
                    <p class="stats__text">
                        <span>{{ previous_login }}</span> ({{ previous_login_days }})
                    </p>
                </div>
                <br/>
                <div class="stats__container">
                    <p class="stats__text">Times logged-in:</p>
                    <p class="stats__text">   
                        <span>{{ request.user.login_count }} times</span>
                    </p>
                </div>
                <div class="stats__container">
                    <p class="stats__text">Dashboard refreshed:</p>
                    <p class="stats__text">
                        <span>{{ request.user.dashboard_reloads }} times</span>
                    </p>
                </div>
            </div>

            <div class="dashboard__logout">
                <a href="{% url 'logout' %}">
                    LOGOUT
                </a>
            </div>
        </div>
    </section>
</body>
</html>