.stats
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.25rem;
    height: 100%;

    &__container
    {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 1rem;

        & > *:first-child
        {
            width: 50%;
            text-align: right;
        }

        & > *:last-child
        {
            width: 50%;
            text-align: left;
        }
    }

    &__text
    {
        font-family: "Open Sans", sans-serif;
        font-size: 1.5rem;

        & span 
        {
            text-decoration: underline;
        }
    }
}